<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>true</allowMembersToFlag>
    <branding>
        <loginFooterText>BigCommerce.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/BigCommerce_Community_Logo_Login_png.png</loginLogo>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>Communities/Community_Password_Reset</changePasswordTemplate>
    <emailSenderAddress>community@bigcommerce.com</emailSenderAddress>
    <emailSenderName>BigCommerce Community</emailSenderName>
    <enableGuestChatter>true</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>true</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <forgotPasswordTemplate>Communities/Community_Password_Reset</forgotPasswordTemplate>
    <logoutUrl>https://forum.bigcommerce.com</logoutUrl>
    <networkMemberGroups>
        <permissionSet>Community_Manager</permissionSet>
        <permissionSet>Community_Moderator_External</permissionSet>
        <permissionSet>Community_Moderator_Internal</permissionSet>
        <profile>Knowledge Manager</profile>
        <profile>Community Client User</profile>
        <profile>Knowledge Editor</profile>
        <profile>Admin</profile>
    </networkMemberGroups>
    <newSenderAddress>steven.bennett@bigcommerce.com</newSenderAddress>
    <picassoSite>BigCommerce_Community_C</picassoSite>
    <reputationLevels>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X1_Newcomer_png.png</smallImage>
            </branding>
            <label>Newcomer</label>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X2_Observer_png.png</smallImage>
            </branding>
            <label>Observer</label>
            <lowerThreshold>51.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X3_Explorer_png.png</smallImage>
            </branding>
            <label>Explorer</label>
            <lowerThreshold>151.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X4_Participant_png.png</smallImage>
            </branding>
            <label>Participant</label>
            <lowerThreshold>401.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X5_Contributor_png.png</smallImage>
            </branding>
            <label>Contributor</label>
            <lowerThreshold>801.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X6_Specialist_png.png</smallImage>
            </branding>
            <label>Specialist</label>
            <lowerThreshold>1501.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X7_Collaborator_png.png</smallImage>
            </branding>
            <label>Collaborator</label>
            <lowerThreshold>2501.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X8_Mentor_png.png</smallImage>
            </branding>
            <label>Mentor</label>
            <lowerThreshold>4001.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X9_Authority_png.png</smallImage>
            </branding>
            <label>Authority</label>
            <lowerThreshold>6001.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X10_ThoughtLeader_png.png</smallImage>
            </branding>
            <label>Thought Leader</label>
            <lowerThreshold>10001.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/X11_Legend_png.png</smallImage>
            </branding>
            <label>Legend</label>
            <lowerThreshold>20001.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>5</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegProfile>community client user</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>BigCommerce_Community</site>
    <status>Live</status>
    <tabs>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
        <standardTab>CollaborationGroup</standardTab>
        <standardTab>Knowledge</standardTab>
        <standardTab>Idea</standardTab>
    </tabs>
    <welcomeTemplate>Communities/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
